*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
body{
    background-color: rgb(27, 69, 77);
}
ul{
    width: 800px;
    height: 600px;
    background-color: cadetblue;
    margin:auto;
    padding-top: 150px;
}
li{
    width: 150px;
    height: 150px;
    background-color: rgb(64, 111, 112);
    display: inline-block;
    margin-left: 5.5px;
}
li>img{
    width: 140px;
    height: 140px;
}